/*seletores*/

.pai > p.irmao{         /*filho direto*/
    color: green;
}
.pai h1+p {            /*proximo p depois do h1*/
    color: red;
}

.pai p+h1 {            /*proximo h1 depois do p*/
    color: yellow;
}

.pai .filho .proximo+ p{
    color: cyan;
}

.pai h2~p {            /*todo p depois de h2*/
    color: blue;
}

[meu-atributo="valor"]{ 
    color:pink
}
                    /*por atributo*/
[checked]{
    width: 30px;
    height: 30px;
}